<div class="ideas-conatiner">
  <mat-card class="idea" *ngFor="let idea of ideas">
      <mat-card-header>
          <mat-card-title matBadge="{{idea.votes}}">{{idea.name}}</mat-card-title>
          <mat-card-subtitle>{{idea.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="start">
          <app-vote [idea]="idea" (vote)="listIdeas()"></app-vote>
          <button mat-button (click)="showDetails(idea)"><mat-icon>more_horiz</mat-icon></button>
          <button mat-button (click)="editIdea(idea)"><mat-icon>edit</mat-icon></button>
          <button mat-button (click)="deleteIdea(idea)"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
  </mat-card>
</div>
